.pointer {
  cursor: pointer;
}

.overflow-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.page-block {
  background: var(--vkui--background_content);
  border-radius: var(--vkui--size_border_radius_paper--regular);
  -webkit-box-shadow: var(--page-block-shadow);
  box-shadow: var(--page-block-shadow);
}

.opacity {
  background: transparent;
}

.zoom50 {
  zoom: 0.50;
}

.zoom75 {
  zoom: 0.75;
}
