@use "styles/mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/variables";
@import "styles/helpers";
@import "styles/animations";

:root {
  background: var(--vkui--color_background_content);
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
pre {
  margin: 0;
  padding: 0;
}

body {
  background: var(--vkui--color_background_content);
  margin: 0;
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
}

pre {
  overflow: auto;
}

html,
body {
  @extend .overflow-block;
  background: var(--vkui--color_background_content);
  font-family: var(--vkui--font_text--font_family--regular);
  height: 100vh;
  height: 100dvh;
  letter-spacing: 0.2px;
  width: 100vw;
}

#app {
  @extend .overflow-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: revert;
  text-decoration: revert;
}

svg {
  flex-shrink: 0;
}
